.setting_name {
	vertical-align: top;
}

/*
  The definitions below provide the style for the edit CSS button
  Required CSS class name: input.mod_moduledirectory_edit_css
*/
input.mod_forum_edit_css {
  color: #000;
  background-color: #F0F0F0;
  border: 1px solid gray;
  padding: 2px;
  margin: 0;
  margin-left: 625px;
  margin-top: -20px;
  margin-bottom: 5px;
  width: 110px;
}

li.mod_forum_forum_level1{
	font-size:1.2em;
	background-color:#F0F0F0;
	font-weight:bold;
	margin:10px;
	padding:5px;
	border:1px solid black;
}

li.mod_forum_forum_level2 a,
li.mod_forum_forum_level3 a{
	color:black;
	font-weight:normal;
}
li.mod_forum_forum_level2 a:hover,
li.mod_forum_forum_level3 a:hover{
	color:blue;
}
li.mod_forum_forum_level2{
	font-size:0.95em;
	margin: 2px;
	padding: 2px;
	padding-left:30px;

}

li.mod_forum_forum_level3{
	font-size: 0.9em;
	margin: 2px;
	padding: 2px;
	padding-left:20px;
}

/**
 *	0.5.9 additions
 */
ul.forum_list_postings {
	display: block;
	float:left;
	width:100%;
	list-style: none;
	margin:0;
	padding:0;
}

ul.forum_list_postings li{
	height: 22px;
	padding-top:3px;
	margin-bottom:2px;
}
ul.forum_list_postings li div {
	display:block;
	float:left;
	width:100%;
}
ul.forum_list_postings li div.forum_list_action {
	width:60px;
	text-align:center;
}
ul.forum_list_postings li div.forum_list_id {
	width: 50px;
	text-align:left;
}
ul.forum_list_postings li div.forum_list_date {
	width: 160px;
	padding-left:20px;
}
ul.forum_list_postings li div.forum_list_title {
	width: 200px;
	padding-left:20px;
}
ul.forum_list_postings li.thread{
	background-color:#AAAAAA;
	width:100%;
	display:block;
	float:left;
}

ul.forum_list_postings li.post{
	background-color:#CCCCCC;
	width:100%;
	display:block;
	float:left;

}

li.post div.forum_list_id:before,
li.post div.forum_list_date:before,
li.post div.forum_list_title:before {
	content:'> ';
}
img.f_action {
	margin-right:5px;
}

.edit_post_label {
	width:100px;
	text-align:right;
	vertical-align:top;
	padding-right:10px;
	padding-top:5px;
}

.edit_post_value {
	width:400px;
}

.edit_post_value input[type='text']{
	width:400px;
}

.edit_post_value textarea {
	width:400px;
	height:150px;
}

.forum_settings {
	min-width:50%;
	border-collapse: collapse;
	border-spacing: 0px 0px;
}
.forum_settings tr {
	height:25px;
}
.forum_settings tr:nth-child(even) {
	background-color:#DDDDDD;
}
.forum_setting_name {
	text-align:right;
	padding-right:5px;
}

.forum_message {
	font-weight:bold;
	color:#880000;
}

ul.forum_list {
	list-style: none;
}

ul.forum_list li {
	margin-left:0px;
	padding-left:10px;
}
